<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lingzhuang_bu.launchertest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cs"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DefaultActivity"
            android:icon="@mipmap/ic_launcher_cs"
            android:label="Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PremiumActivity"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher_premium"
            android:label="Test_premium">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".PrestigeActivity"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher_prestige"
            android:label="Test_prestige">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Default2018ChristmasActivity"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_cs_2018_christmas"
            android:label="Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Premium2018ChristmasActivity"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_premium_2018_christmas"
            android:label="Test_premium">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Prestige2018ChristmasActivity"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_prestige_2018_christmas"
            android:label="Test_prestige">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Default2019YearActivity"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_cs_2019_year"
            android:label="Test">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Premium2019YearActivity"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_premium_2019_year"
            android:label="Test_premium">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Prestige2019YearActivity"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_prestige_2019_year"
            android:label="Test_prestige">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>